@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --navigation-height: 4.8rem;
  }
  /* width */
  ::-webkit-scrollbar {
    @apply w-2;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    @apply bg-transparent-white;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    @apply rounded-2xl bg-grey;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    @apply bg-white;
  }
}

html {
  @apply bg-background font-sans   text-off-white;
  font-size: 62.5%;
}

@layer utilities {
  .text-shadow {
    text-shadow: rgb(0 0 0 / 56%) 0px 3px 12px;
  }
}
.text-gradient {
  background: linear-gradient(
    to right bottom,
    rgb(255, 255, 255) 30%,
    rgba(255, 255, 255, 0.38)
  );
  -webkit-background-clip: text; /* For WebKit browsers */
  -moz-background-clip: text; /* For Firefox */
  background-clip: text;
  color: transparent;
}
